Masukan Mutasi Internal
<input type="string" (change)="changeValueAwal($event.target.value)" />
<br />
masukan total External
<input type="string" (change)="changeValueAkhir($event.target.value)" />
<br />
Selish {{ isValueNegatif ? '(-)' : '' }}{{ valueSelisih }}
<br />
<input type="file" (change)="onFileChange($event)" multiple="false" />
<br />
<br />
<div *ngIf="!isValueNegatif">
  Data Kartu Kredit
  <table class="sjs-table">
    <tbody>
      <tr>
        <th>Kode</th>
        <th>Value</th>
      </tr>
      <tr *ngFor="let row of dataKredit">
        <td *ngFor="let val of row">
          {{ val }}
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="isValueNegatif">
  Data Kartu Debit
  <table class="sjs-table">
    <tbody>
      <tr>
        <th>Kode</th>
        <th>Value</th>
      </tr>
      <tr *ngFor="let row of dataDebit">
        <td *ngFor="let val of row">
          {{ val }}
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- <button (click)="export()">Export!</button> -->
